.new-goal {
  .yui-md-grid-col {
    padding-left: 24px;
    padding-right: 24px;
  }
  p.centered.title {
    margin-bottom: 20px;
  }
  .button.ripple-container.centered {
    left: 48.5%;
    transform: translateX(-50%) scale(2);
  }
}
